.about{
    margin-top: 100px;
    margin-bottom: 150px;
    /* border:solid red 1px;  */
}

.about p{
    font-size:15px;
    font-weight:400;
    justify-content: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999999;
}

.about .me img{
    border-radius:50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    margin: 50px;
}

.about .table-row{
    text-align: left;
    display:flex;
    list-style-type: none;
}

.about .table-row li{
    border-left: solid rgb(61, 61, 61) 5px;
    background-color: rgba(48, 48, 48, 0.384);
    margin-top: 5px;
    padding-left: 10px;
    width: 80%;
    margin-left: 10%;
}

/* .about .table-row li::before{
    content: "\00BB";
} */

.about .table-row .programming{
    width: 20%;
    /* border:solid yellow 1px; */
    color: #999999;
    text-transform: capitalize;
    /* padding-left: 10%x; */
}

.about .table-row .modules{
    width: 20%;
    /* border:solid blue 1px; */
    color:#999999;
    text-transform: capitalize;
    /* padding-left: 30px; */
}

.about .table-row .web{
    width:20%;
    /* border:solid yellow 1px; */
    color:#999999;
    text-transform: capitalize;
    /* padding-left: 30px; */
}

.about .table-row .domains{
    flex-grow: 1;
    /* border:solid blue 1px; */
    color: #999999;
    text-transform: capitalize;
    padding-left: 30px;
}

.about .table-row .domains div{
    width: 80%;
    margin-bottom: 10px;
    background-color: rgb(194, 110, 32);
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
  }