#header{
    top:0px;
    margin:0;
    text-align: right;
    padding:10px;
    top:0;
    position:sticky;
    background:none;
    z-index:2;
    background-color: rgb(194, 110, 32);
    box-shadow: 0 0 10px #072227;
    padding-right:3%;
}

#header > li{
    display: inline;
    margin:20px 30px;  /* change with media query */
    font-size:large;
    color:white;
    font-weight:300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#header  #logo{
    left:5%;
    top:0;
    /* border:solid red 1px; */
    position:absolute;
    font-weight: 700;
    font-size: 20px;
    color: #888888;
    text-shadow: 2px 2px 10px #000000;
    margin-top:6px;
}

#header  a:hover{
    color:black;
    transition-duration: .5s;
    text-decoration: none;
}